.ProductListItem {
    height: 10vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vmin;
    background-color: var(--bs-primary);
    border: .1vmin solid var(--bs-blue);
    border-radius: 1vmin;
    font-size: 2vmin;
    margin-bottom: 2vmin;
  }
  
  .ProductListItem .name {
    font-size: 2.3vmin;
    text-align: center;
    width: 20vmin;
  }

  .ProductListItem .info {
    height: 10vmin;
    width: 20vmin;
    font-size: 1.8vmin;
  }
  
  .ProductListItem .buy {
    display: flex;
    flex-direction: column;
  }
  
  .ProductListItem .buy span {
    font-size: 1.7vw;
    text-align: center;
  }
  

  .ProductListItem .btn-sm {
    background-color: var(--bs-success);
  }
  
  