.SubCategoryList {
    display:flex;
    margin-top: -4.5vmin;
    background-color: var(--bs-gray-500);
    color: var(--bs-body-color);
    list-style: none;
    padding: 0;
    font-size: 2vw;
    width: 60vmin;
  }
    
  .SubCategoryList li {
    padding: .6vmin;
    text-align: center;
    margin-top: .2vmin;
    margin-left: .2vmin;
    margin-right: .2vmin; 
    border-radius: .5vmin;
    margin-bottom: .2vmin;
    width: 20vmin;
  }
      
  .SubCategoryList li:hover:not(.active) {
    cursor: pointer;
    background-color: var(--bs-blue);
    color: var(--bs-indigo);
  }
  
  .SubCategoryList li.active {
    color: var(--bs-indigo);
    background-color: var(--bs-blue);
    border: .1vmin solid var(--tan-3);
  }