.CategoryList {
    display:flex;
    justify-content: space-between;
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-primary-text-emphasis);
    list-style: none;
    padding: 0;
    font-size: 2vmin;
    
  }
    
  .CategoryList li {
    padding: .6vmin;
    text-align: center;
    margin-top: .2vmin;
    margin-left: .2vmin;
    margin-right: .2vmin; 
    border-radius: .5vmin;
    margin-bottom: .2vmin;
    width: 7vmin;
  }
      
  .CategoryList li:hover:not(.active) {
    cursor: pointer;
    background-color: var(--bs-blue);
    color: var(--bs-indigo);
  }
  
  .CategoryList li.active {
    color: var(--bs-indigo);
    background-color: var(--bs-blue);
    border: .1vmin solid var(--tan-3);
  }